<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카테고리 목록</title>
</head>
<body>
<h1>카테고리 목록</h1>

<p th:if="${successMessage}" th:text="${successMessage}" style="color:green;"></p>

<a th:href="@{/categories/create}">+ 카테고리 등록</a>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>카테고리명</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cat : ${categories}">
        <td th:text="${cat.id}"></td>
        <td th:text="${cat.name}"></td>
    </tr>
    </tbody>
</table>

<hr>
<footer>
    <p th:text="${'실습 수행 일시: ' + #temporals.format(#temporals.createNow(), 'yyyy년 MM월 dd일 HH:mm:ss') + ' | 학번: 2171505 | 성명: 한국희'}"></p>
</footer>
</body>
</html>